.fast-food-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 400px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .fastfood-container {
    display: flex;
    flex-wrap: wrap; /* permet à Flexbox de répartir les éléments sur plusieurs lignes si nécessaire */
  }
  
  .fast-food-box {
    flex-basis: calc(33.33% - 20px); /* permet d'afficher 3 éléments sur chaque ligne */
    margin: 50px; /* marge de 10 pixels entre les éléments */
  }