.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: 		#BE1931;
}


.sidenav .mat-toolbar {
  background: 	#BE1931;
  color: white
}


.mat-sidenav-content{ display: flex; flex-direction: column; }
